*{
    box-sizing: border-box;
    margin: none;
    padding: none;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 16px;
    color: #191F28;

}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body{
    margin: 0;
    /* align-items: center;
    vertical-align: middle; */
    height: 100vh;
    background-color: #efeff3;

}

header{
    width: 100vw;
    height: 3rem;
    background-color: #ffffff;
    /* padding-left: 1rem; */
    text-align: center;
    
    line-height: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #283951;

}

h1{
    text-align: center;
    color: #878d94;
    font-weight: 500;
}

p{
    font-size: 2.2rem;
    margin: 1.4rem 0 0.7rem 0;
    font-weight: 500;
    text-align: center;
    color: #191F28;
    
    
}

.asset-wrapper{
    margin: 2rem auto;
    padding: 0.1rem;
    padding-bottom: 0.8rem;;
    box-shadow: 0px 4px 4px 0px rgb(194, 194, 194);
    /* display: inline-block; */
    /* position: absolute */

    background-color: rgb(255, 255, 255);
    width: 80vw;
    height: 10rem;
    border-radius: 10px;
    /* border-style: solid; */
    /* border-color: black; */
    align-items: center;
    justify-content: center;
}

.asset-type{
    width: auto;
    text-align: center;
    margin-left: auto;
}

.asset-type-plus{
    margin-right: 0.3rem;
    color: #F04452;
    font-weight: 500;
}

.asset-type-minus{
    margin-left: 0.3rem;
    color: #3182F6;
    font-weight: 500;
}




.date-wrapper{
    position: relative;
    width: 100vw;
    height: 3rem;
    padding: 0.7rem;
    background-color: #ffffff;
    /* border-top: solid 1px; */
    border-bottom: solid 0.5px #878d94;
    border-radius: 7px 7px 0 0;
    
}


.date-wrapper-button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0 auto;

}

.date-today{
    margin: 0 1rem;


}

.date-left, .date-right{
    font-weight: 700;
}

.date-left{
    left: 40vw;
}

.date-right{
    right: 40vw;
}


.selectbox{
    height: 2.5rem;
}



/* 기존 체크박스를 숨기기 위한 코드 */
.custom-input {
    display: none;}
  /* 커스텀 체크박스를 위한 코드 */
.custom-label .custom-label-checked {
    display: none;}
.custom-input:checked + .custom-label .custom-label-checked {
    display: inline-block;
    height: 100%;}
.custom-input:checked + .custom-label .custom-label-unchecked {
    display: none;}

.earn,.use {
    height: 2.3rem;
    margin: 0.1rem 0;}




.selectbox-wrapper{
    display: flex;
    width: 100%;
    line-height: 2.5rem;
    font-weight: 500;
    padding: 0 5vw;
    background-color: rgb(221, 221, 221);
    height: 2.5rem;
}

.checkbox-wrapper{
    position: absolute;
    right: 5vw;
    
}



.selectbox{
    position: absolute;
    right: 5vw;
}


.historylist-wrapper{
    width: 100%;
    height: calc(100vh - 23.5rem); 
    overflow-x: scroll;
}



.historylist-items{
    position: relative;
    border-radius: 7px;
    display: flex;
    margin: 0.6rem auto;
    height: 3.6rem;
    padding:0 0.6rem;
    width: 90%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px 0px rgb(212, 212, 212);
}

.historylist-items:nth-last-child(1){
    background-color: transparent;
}


.historylist-category{
    font-size: 0.8rem;
    color: #333D4B;
    position: absolute;
    left: 1rem;
    line-height: 3.6rem;

    
}

.historylist-contents{
    font-weight: 500;
    position: absolute;
    line-height: 3.6rem;
    left: 5rem;
    width: 10rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.historylist-amount{
    line-height: 3.6rem;
    font-weight: 500;
    position: absolute;
    /* transform-origin: 100% 0; */
    right: 3rem;
}

.historylist-amount.minus{
    color: #3182F6;}

.historylist-amount.plus{
    color: #F04452;
}


.historylist-delete{
    position: absolute;
    line-height: 3.6rem;
    font-size: 0.9rem;
    color: #B0B8C1;
    right: 1rem;
    

}



footer{
    background-color: #ffffff;
    height: 4rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 5;
    border-top: solid;
    border-width: 0.3px;
    border-color: #B1B8C0
}

.button{
    text-align: center;
    font-size: 3.5rem;
    border-radius: 30%;
    height: 4rem;
    width: 4rem;
    margin: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 3px 0px #a8b6ca;
    color: #3182F6

    
}