*{
    box-sizing: border-box;
    margin: none;
    padding: none;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 16px;
    font-weight: 500;
    object-fit: cover

}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

body{
    background-color: black;
    margin: 0;

}

header{
    width: 100vw;
    background-color:  black;
    color: white;
    padding: 1rem;
    font-family: 'Questrial', sans-serif;
    font-weight: 600s;
    font-size: 2rem;
}


.preview-wrapper{
    width: 100vw;
    display: flex;
    background-color:  black;
    padding: 20px 0px;
    overflow: auto;
}

.preview{

    height: 20rem;
    margin: 0px 5px;
    flex: 1;
}

.helper-text{
    width: 100%;
}

.nav-items{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link{
    margin: 0.7rem 0.5rem;
    color: black;
    text-decoration: none;
    font-weight: 800;
}

.link:hover{
    color: green;
    text-decoration: underline;
}

.nav-explanation{
    text-align: center;
    font-weight: 400;
}



.nav-wrapper{
    align-items: center;
    width: 100vw;
    background-color: white;
    padding:1.5rem;
    font-size: 0.8rem;
    font-weight: 500;

}

.index{
    padding: 1rem;
    width: 100vw;
    background-color: aquamarine;
    position: sticky;
    top: 0px;
    left: 0px;
}


.section{
    background-color: red;
    width: 90vw;
    margin: 1rem 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}



.section.one img{
    flex: 1;
    max-width: 20%;
    margin: 0.3rem 0px;
}



.two-main-image{
    flex: 1;
    width: 50%;
} 

.two-image-grid{
    flex: 1;
    display: flex;
    flex-wrap: wrap;

}

.two-image-grid-item{
    width: 50%;

}





.three-grid{
    width: 100%;
    height: 40rem;
    background-color: antiquewhite;
    display: grid;
    grid-template-areas: 
    'item1 item1 item2 item2'
    'item3 item3 item2 item2'
    'item4 item4 item4 item5'
    'item4 item4 item4 item5';
    grid-gap: 0.6rem;
    margin: 0.3rem 0;}


    .three-grid-item1{
        grid-area: item1;
        background-color: aqua;}
    
    .three-grid-item2{
        grid-area: item2;
        background-color: blue;
    }

    .three-grid-item3{
        grid-area: item3;
        background-color: blueviolet;
    } 

    .three-grid-item4{
        grid-area: item4;
        background-color: rgb(105, 90, 120);
    }

    .three-grid-item5{
        grid-area: item5;
        background-color: rgb(105, 90, 120);}




footer{
    text-align: center;
    padding: 1rem;
    color: white;
}


.button{
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    box-shadow: 0 0 3px 3px #ffffff;
    color: #ffffff;
  }
