@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  padding: none;
  margin: none;
  color: #191f28;
  box-sizing: border-box;
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  font-size: 16px;
  font-style: none;
}

body {
  height: 100vh;
  margin: 0;
  background-color: #efeff3;
}

header {
  width: 100vw;
  height: 3rem;
  color: #283951;
  text-align: center;
  background-color: #ffffff;
  line-height: 3rem;
  font-size: 1.3rem;
  font-weight: 500;
}

h1 {
  color: #878d94;
  text-align: center;
  font-weight: 500;
}

p {
  margin: 1.4rem 0 0.7rem 0;
  color: #191f28;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 500;
}

.asset-wrapper {
  width: 80vw;
  height: 10rem;
  padding: 0.1rem;
  margin: 2rem auto;
  padding-bottom: 0.8rem;
  box-shadow: 0 0.25rem 0.25rem rgb(194, 194, 194);

  background-color: rgb(255, 255, 255);
  border-radius: 0.625rem;

  align-items: center;
  justify-content: center;
}

.asset-type {
  width: auto;
  text-align: center;
  margin-left: auto;
}

.asset-type-plus {
  color: #f04452;
  margin-right: 1rem;
  font-weight: 500;
}

.sign {
  background-color: #efeff3;
  border-radius: 60%;
  border-style: none;
  font-weight: 700;
  line-height: 1.2rem;
  width: 1.3rem;
  height: 1.3rem;
}

.sign.plus {
  color: #f04452;
}
.sign.minus {
  color: #3182f6;
}

.asset-type-minus {
  color: #3182f6;
  font-weight: 500;
}

.date-wrapper {
  position: relative;
  width: 100vw;
  height: 3rem;
  padding: 0.7rem;
  background-color: #ffffff;
  border-bottom: solid 0.03rem #878d94;
  border-radius: 0.45rem 0 0 0;
}

.date-wrapper-button {
  display: flex;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.date-today {
  margin: 0 1rem;
}

.date-left,
.date-right {
  font-weight: 700;
}

.date-left {
  left: 40vw;
}

.date-right {
  right: 40vw;
}

.selectbox {
  height: 2.5rem;
}

.plus_price,
.minus_price {
  display: none;
}

.slt_box {
  padding: 0.5em 0.8rem;
  font-size: 1rem;
  background-color: #f2f4f6;
  border-radius: 0.5rem;
  color: #333d4b;
}

input:checked + .slt_box {
  padding: 0.5em 0.8rem;
  font-size: 1rem;
  background-color: #3182f6;
  border-radius: 0.5rem;
  color: white;
}

.selectbox-wrapper {
  display: flex;
  width: 100%;
  height: 2.5rem;
  padding: 0 5vw;
  line-height: 2.5rem;
  font-weight: 500;
  background-color: rgb(221, 221, 221);
}

.checkbox-wrapper {
  position: absolute;
  right: 5vw;
}

.selectbox {
  position: absolute;
  right: 5vw;
}

#historylist-wrapper {
  width: 100%;
  height: calc(100vh - 26.5rem);
  overflow: scroll;
}

#historylist-items {
  display: flex;
  list-style: none;
  position: relative;
  width: 90%;
  height: 3.6rem;
  padding: 0 0.6rem;
  margin: 0.6rem auto;
  border-radius: 0.45rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.2rem 0.2rem 0 rgb(212, 212, 212);
}

#category {
  position: absolute;
  color: #333d4b;
  font-size: 0.8rem;
  left: 1rem;
  line-height: 3.6rem;
}

#content {
  position: absolute;
  width: 10rem;
  white-space: nowrap;
  font-weight: 500;
  line-height: 3.6rem;
  left: 5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

#amount {
  position: absolute;
  line-height: 3.6rem;
  font-weight: 500;
  right: 3rem;
}

#amount.minus {
  color: #3182f6;
}

.amount.plus {
  color: #f04452;
}

#delete {
  position: absolute;
  color: #b0b8c1;
  line-height: 3.6rem;
  font-size: 0.9rem;
  right: 1rem;
}

footer {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  z-index: 5;
  border-top: solid;
  border-width: 0.01rem;
  border-color: #b1b8c0;
}

#modal_btn {
  width: 4rem;
  height: 4rem;
  margin: auto;
  color: #3182f6;
  text-align: center;
  font-size: 3.5rem;
  border-radius: 30%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0.18rem 0.18rem 0 #a8b6ca;
}

/* 모달 구조 */
.modal_wrap {
  display: none;
  width: 100vw;
  height: 70vh;
  position: absolute;
  border-radius: 0.7rem 0.7rem 0 0;

  bottom: 0;
  left: 0;
  background: #ffffff;
  z-index: 7;
}

.modal_background {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 6;
}
#modal_close {
  width: 3rem;
  height: 3rem;
  position: absolute;
  background-color: rgb(255, 0, 43);
  background: transparent;
  border-style: none;

  top: 0.6rem;
  right: 0.6rem;
  z-index: 8;
}

.fa-solid {
  color: #333d4b;
}

/* 모달 내부 */
.modal_title {
  font-size: 1.5rem;
  font-weight: 800;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  width: 100vw;
  text-align: center;
  padding-top: 0.6rem;
}

/* 수입 지출 커스텀*/

.slt_inout {
  margin: 0 auto;
  padding: 0.8em 2.6rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #f2f4f6;
  border-radius: 0.5rem;
  color: #333d4b;
  cursor: pointer;
}

input:checked + .slt_inout {
  padding: 0.8em 2.6rem;
  font-size: 1rem;
  background-color: #3182f6;
  border-radius: 0.5rem;
  color: white;
}

.modal_item {
  font-size: 1.2rem;
  font-weight: 700;
  color: #333d4b;
}

#enter_modal {
  padding: 3rem 2rem;
  list-style: none;
  line-height: 2rem;
}

#enter_modal > li {
  padding: 1.3rem 0;
  font-size: 1.4rem;
}

.button-container {
  width: 100vw;
  height: 4rem;
  position: absolute;
  bottom: 2rem;
}

.save {
  padding: 0.8rem 3.8rem;
  background-color: #3182f6;
  color: white;
  border-radius: 0.8rem;
  border-style: none;
  font-weight: 500;
  font-size: 1.3rem;
  display: block;
  margin: 0 auto;
}
